@import '../../Layout/style.scss';

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form-inline {
        & > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 50px;
        }
    }

    label {
        color: $text-color;
    }
}